# Ignore virtual environment
venv/

# Ignore build and packaging artifacts
dist/
build/
*.spec
*.exe

# Ignore Python cache
__pycache__/
*.pyc

# Optional: ignore results folder from being tracked
saved_specs/
